<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Company:</b>
  <%= @user.company_name %>
</p>

<p>
  <b>League ID:</b>
  <%= @user.league_id %>
</p>
